amaranth @ git+https://github.com/amaranth-lang/amaranth.git
amaranth-yosys
black
bokeh
bump2version
Click
cocotb
coverage
cython==0.29.21
femwell
flake8
gdsfactory==7.3.0
hdl21>=4
ipyevents
ipytree
ipywidgets>=7.6.0,<9
jax
jaxlib
jupyter_bokeh
jupyter_packaging~=0.7.9
jupyterlab~=3.0
jupytext
myst_parser
nbsphinx
networkx
numpy
openlane
pandoc
pip>=23.2.1
pre-commit
pydata-sphinx-theme>=0.13.3
pydantic<3
pytest
qutip
sax==0.8.8
setuptools>=40.8.0
sphinx>=4,<7
sphinx-autoapi
sphinx-autobuild
sphinx_autodoc_typehints
sphinx-book-theme
sphinx-gallery
sphinx-pydantic
sphinx_rtd_theme
thewalrus
tox
twine
vlsir>=4
watchdog
wheel
