pip>=19.2.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
twine==1.14.0
Click==7.1.2
pytest==6.2.4
black==21.7b0
sphinx
sphinx_autodoc_typehints
sphinx-pydantic
sphinx-autoapi
sphinx-autobuild
sphinx_rtd_theme
sphinx-gallery
nbsphinx
myst_parser
pandoc
flake8
ipyevents
ipytree
ipywidgets>=7.6.0,<9
jupyter_packaging~=0.7.9
jupyterlab~=3.0
jupytext
setuptools>=40.8.0
wheel
