# Enable flake8-bugbear (`B`) rules.

# Never enforce `E501` (line length violations).
ignore = ["E501", "E402", "B018"]
select = ["E", "F", "B"]
# Avoid trying to fix flake8-bugbear (`B`) violations.
unfixable = ["B"]

# Ignore `E402` (import violations) in all `__init__.py` files, and in `path/to/file.py`.
[per-file-ignores]
"__init__.py" = ["E402"]
